
* {
  box-sizing: border-box;
}

* a {
  display: inline;
}

.about {
  background-color: red;
  color: steelblue;
}

.contact {
  background-color: blue;
  color: gold;
}

body {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  border: 0;
  background-color: #f3e19f;
}
.body-wrapper {
  margin: 0 auto;
  width: 100%;
  font-size: large;
  position: center;
}

.billboard {
  padding-top: 103px;
  height: 395px;
  background: #353535 url("../../public/la.jpg") no-repeat center;
  background-size: cover;
}

.navI {
  padding: 12px 0 17px 0;
  margin-bottom: 0;
}

.main-nav a{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-left: 45px;
  color: #002236;
}

.navbar-default .navbar-brand {
  font-size: 45px;
  color: #008775;
}
.navbar-default .navbar-brand:hover {
  color: #008775;
}

ul, ol {
  text-align: right;
  max-width: 1440px;
  font-size: 13px;
}

ul * {
  color: #9f99b5;
  display: inline;
  word-spacing: 2px;
  padding-left: 2px;
  padding-right: 14px;
  margin: 0 auto;
  text-align: right;
  font-weight: 300;
}

.mini-nav {
  display: inline-block;
  border: 1px #e7e7e7 solid;
  width: 100%;
  height: 40px;
  margin: 0 auto;
  /*padding: 0 -9px !important;*/
  padding: 5px;
  clear: left;
}

a.min-con {
  font-weight: 500;
}
.min-con {
  color: #00ae9e;
  word-spacing: -6%;
  font-size: 14px;
  font-weight: 500;
}

a.min-reg {
  margin-right: -14px;
  margin-left: -12px;
}

.min-down {
  margin-right: -14px;
  margin-left: -12px;
}

.si {
  margin-right: -13px;
  margin-left: -11px;
}

li.comp a {
  margin-left: 94px;
  font-weight: 500;
}

.navbar-default .navbar-nav > li > a {
  color: #002236;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: transparent;
  font-weight: 500;
  color: #002236
}

li.mn a {
  font-family: "Roboto", serif;
  font-size: 18px;
  font-weight: 700;
}
li.mn a.bouttime {
  color: antiquewhite;
  font-weight: 700;
  display: inline;
}

.navbar-default .navbar-nav > li > a {
  color: #002236;
  font-weight: 700;
  font-family: "Roboto", serif;
}

.wrapper,
.home-content {
  width: 100%;
  margin: 0 auto;
  border-right: 30px;
  background: white;
  max-width: 100%;
  text-align: center;
}

.home-content {
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 9px 0px 0px #f9f9f9, 0 -9px 0px 0px #f9f9f9, 4px 0 8px -4px #dadada, -4px 0 8px -4px #dadada;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
}

.nav.navI.navbar.navbar-default {
  margin: 0 auto;
  width: 15%;
}

.h2 {
  margin-bottom: 20px;
}
.h1 {
  font-size: 48px;
  font-weight: 100;
  font-family: 'Roboto', serif;
}
h4 {
  line-height: 1.55em;
  font-weight: 100;
}

.h1,
h4 {
  color: #fff;
  font-family: 'Roboto', serif;
  font-weight: 100;
}

.billboard > h4 {
  font-weight: 100;
}

.intro {
  font-weight: 300;
  text-align: center;
  display: block;
  font-size: 18px;
  max-width: 672px;
  margin: 35px auto 12px;
}

.wrapper {
  width: 1440px;
  margin: 0 auto;
}

.mn:nth-child(4) {
  margin-left: 196px;
  text-align: left;
}

.product-nav > ul {
  padding: 67px;
  text-align: center;
}

.product-nav > ul > li {
  color: #081016;
  font-size: 16px;
  margin: 0 30px 0 0;
  font-weight: 100;
  font-family: 'Raleway', serif;
}

.carousel {
  background: url('../../public/cookiess1.png') no-repeat center;
  background-size: cover;
  height: 750px;
  text-align: center;
  padding: 45px 120px;
  margin-top: 110px;
}

.slick-slide {
  padding-right: 80px;
  padding-left: 80px;
  height: 580px;
  margin-top: 40px;
  width: 800px;
}

/* ------      Map Director - Section  ------- */
.companies-sect {
  content: url('../../public/test-comps.png');
  width: 50%;
  height: 492px;
  background-color: #333333;
  display: inline-block;
  float: right;
  color: white;
}

.dir-sect {
  width: 50%;
  height: 492px;
  background-color: #333333;
  display: inline-block;
}

.director {
  content: url('../../public/cookie.png');
  background-color: tomato;
  height: 116px;
  width: 116px;
  margin: auto;
  background-position: center;
  border-radius: 50%;
  margin-top: 10%;
}
#name {
  color: #fff;
  font-family: 'Dancing Script', cursive;
  font-size: 200%;
  border-bottom: 3px solid tomato;
  margin: 35px 30% 15px 30%;
  border-radius: 18px;
}
#name-contact, #name-contact a {
  background-color: #00CEC2;
  padding: 19px 37px;
  margin: 30px 30%;
  padding-left: 23px;
  color: #fff;
}
#od {
  border-bottom: 3px solid tomato;
  border-radius: 15px;
  margin: 35px 40% 15px 40%;
}
.map {
  height: 100%;
  width: 100%;
  display: inline-block;
}
.map-parent {
  width: 100%;
  height: 527px;
  background-color: #f3e19f;
  border: 7px #333333 solid;
  /*padding-left: 25%;*/
  padding: 0 15%;
}

/*div.map.leaflet-container.leaflet-touch.leaflet-fade-anim.leaflet-grab.leaflet-touch-drag.leaflet-touch-zoom {*/
  /*margin: auto;*/
/*}*/
/* ------   ( end of ) Map Director - Section  ------- */

.Logo {
  /*content: url('../../public/cookie1.png');*/
  /*height: 150px;*/
  /*width: 00px;*/
}


/* Images for react-carousel   --Section */
.img-1 {
  content: url('../../public/img-1.jpg');
}
.img-2 {
  content: url('../../public/img-2.jpg');
}
.img-3 {
  content: url('../../public/img-3.jpg');
}
.img-4 {
  content: url('../../public/img-4.jpg');
}
.img-5 {
  content: url('../../public/img-5.jpg');
}
.img-6 {
  content: url('../../public/img-6.jpg');
}

